

.filter {
    position: relative;
    max-width: 28em;
    border: 3px lighten($bg-rental-side, 1%) solid;
    border-radius: 4px;

    p {
        padding: 0;

    }
}

.filter > h2 {
    margin-bottom: 0;
    letter-spacing: 1px;
    text-align: center;
    color: darken($white, 15%);
}

.filter > .flex {
    justify-content: space-around;
}

.filter > div {
    font-size: 1.6em;
    color: darken($white, 22%);
}

.filter  label {
    cursor: pointer;
}

