.flexCarInfo {
    display: flex;
    justify-content: space-around;
}

.flex {
    display: flex;

    p {
        padding-left: 0.5em;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(426px, auto));
    grid-gap: 44px;
    margin: 4em auto;
    max-width: 65em;
    padding: 3em;
    justify-content: space-between;
}



.slide {
    max-width: 27em;
    position: relative;
    margin-bottom: 10em;
    color: $silver-chalice;

    border: 3px lighten($bg-rental-side, 1%) solid;
    border-radius: 4px;



    h1 {
        font-size: 1.6em;
        text-align: center;
        color: lighten($silver-chalice, 18%);
    }
}


.slideImg {
    max-width: 100%;
}


.sizeImg{
    width: 100%;
    max-height: 229px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0.2em 0.5em 1.1em black;
    object-fit: cover;
    object-position: center;
}



//     filter: invert(80%); biela farba dig 