


$black: #000000;
$black-half: #00000050;
$black-three-quarters: #00000075;
$white: #ffffff;
$big-stone: #152836;
$dusty-gray: #989898;
$silver-chalice: #a9a9a9;
$alto: #d7d7d7;
$red: #da4d4d;
$yellow: #dacc4d;
$green: #25ad5b;

$bg-Woodsmoke: #0B0C10;

$activ-regal-blue-dark: #004a77;
$activ-Lochmara-light: #007CC7; 
$non-activ-big-stone-darken: #12232e;