.headerBar {
    margin: 0 auto;
    padding-top: 0.4375em;
    text-align: center;
}

.bar {
    display: block;
    padding: 0;
    font-size: 1.25em;
}

.bar li {
    display: inline;
    padding-inline-end: 1em;
    padding-inline-start: 1em;
}
.bar li a {
    text-decoration: none;
    color: $white;
}