

.textarea    {
    padding-top: 10.875em;
    color: $white;

        h1 {
            font-size: 3.7em;
            font-weight: bolder;
        }

        p {
            margin-top: 5em;
            font-size: 1.3em;
            max-width: 40em;
            font-weight: 400;
            margin-bottom: 9.6em;
        }
}