
.homePageText {
    margin-bottom: 18em;
    padding-top: 20.5em;
    line-height: .3em;
    color: $white;

    h1{
        font-size: 3.5em;
    }
    
    p {
        font-size: .9em;
        line-height: 1em;
        max-width: 29em;
    }
}

